{% extends "authLayout.html" %} {% block content %}
<div class="right">
  <div class="form-container">
    <h3>Welcome Back 👋</h3>
    <h4>Today is a new day. It's your day. You shape it.<br />
      Sign in to start creating your <span>Survey</span>.</h4>

    <form id="login-form" class="form" method="post">
      <div class="form-group">
        <label for="pseudo">Username</label>
        <input type="text" id="pseudo" name="pseudo" required />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>

      <div class="form-error"></div>

      <div class="center">
        <button type="submit" class="btn btn-primary">Sign In</button>
      </div>
    </form>

    <a href="{{ url_for('main.register') }}">Create an account</a>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script src="{{ url_for('static', filename='js/services/auth.service.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/login.js') }}"></script>
{% endblock %}
