{% extends "authLayout.html" %} {% block content %}
<div class="right">
  <div class="auth-container form-container">
    <h1>Create an account</h1>
    <form id="register-form" class="form" method="post">
      <div class="form-group">
        <label for="pseudo">Username</label>
        <input type="text" id="pseudo" name="pseudo" required />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>

      <div class="form-group">
        <label for="password_confirm">Confirm password</label>
        <input
          type="password"
          id="password_confirm"
          name="password_confirm"
          required
        />
      </div>

      <div class="form-group">
        <label for="date_of_birth">Date of birth</label>
        <input type="date" id="date_of_birth" name="date_of_birth" required />
      </div>

      <div class="form-group">
        <label for="job">Job</label>
        <input type="text" id="job" name="job" required />
      </div>

      <div class="form-group">
        <label for="addresse">Address</label>
        <input type="text" id="addresse" name="addresse" required />
      </div>

      <div class="form-error" style="display: none"></div>

      <button type="submit" class="btn btn-primary">Create an account</button>
    </form>
    <a href="{{ url_for('main.login') }}">Already have an account?</a>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script src="{{ url_for('static', filename='js/pages/register.js') }}"></script>
{% endblock %}
