* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.surveys-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.survey-card {
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.survey-card h2 {
    margin: 0 0 10px;
    color: white;
}

.survey-card p {
    margin: 5px 0;
    color: white;
}

.survey-card .date {
    font-size: 0.9em;
    color: white;
}
