<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Condorcy{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/auth.css') }}"
    />
  </head>
  <body>
    <header>
      <nav class="nav-left">
        <a href="/">
          <img
            src="{{ url_for('static', filename='images/logo.svg') }}"
            alt="Logo Condorcy"
          />
        </a>
        <a href="/"> Home </a>
        <a href="/surveys"> Survey </a>
        <a href="/surveys/create"> Create </a>
      </nav>
      <nav class="nav-right">
        <a href="/login" class="btn"> Log in </a>
      </nav>
    </header>

    <main class="container">{% block content %}{% endblock %}</main>

    <script src="{{ url_for('static', filename='js/utils/api.js') }}"></script>
    <script src="{{ url_for('static', filename='js/services/auth.service.js') }}"></script>
    {% block extra_js %}{% endblock %}
  </body>
  <footer>
    <h2>Condorcy</h2>
    <div class="line"></div>
    <p>&copy; 2024 Condorcy. All Rights Reserved.</p>
  </footer>
</html>