<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Dashboard</h1>
    <div>
        <h2>Participants par Scrutin</h2>
        <canvas id="topSurveysChart"></canvas>
    </div>
    <div>
        <h2>Votes par Année de Naissance</h2>
        <label for="surveySelector">Sélectionnez un scrutin :</label>
        <select id="surveySelector"></select>
        <canvas id="birthYearVotesChart"></canvas>
    </div>
    <div>
        <h2>Nombre Moyen d'Options</h2>
        <canvas id="averageChoicesChart"></canvas>
    </div>
    <script src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>
</body>
</html>
