{% extends "base.html" %} {% block content %}

<section class="home-hero">
  <img
    src="{{ url_for('static', filename='images/logo.svg') }}"
    alt="Logo Condorcy"
  />
  <h1>Condorcy</h1>
  <h2>Your new voting app</h2>
  <p>Create, vote and check resulte of an infinity of Condorcet based survey</p>
  <a href="/survey/create" class="btn"> Create survey ! </a>
</section>

<section class="home-carousel">
  <h3>Last Survey</h3>
  <div class="carousel">
    <h4>Latest created survey</h4>

      <!-- CARDS -->
      <div class="container">
        <!-- CARD 1 TEST -->
        <div href="#" class="card">
          <div class="card-content">
            <h5>Survey title</h5>
            <a href="#">Lien survey</a>
          </div>
          <div class="card-image">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
          </div>
        </div>
         <!-- CARD 2 TEST -->
        <div href="#" class="card">
          <div class="card-content">
            <h5>Survey title</h5>
            <a href="#">Lien survey</a>
          </div>
          <div class="card-image">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="carousel">
    <h4>latest active surveys</h4>

    <!-- CARDS -->
    <div class="container">
      <!-- CARD 1 TEST -->
      <div href="#" class="card">
        <div class="card-content">
          <h5>Survey title</h5>
          <a href="#">Lien survey</a>
        </div>
        <div class="card-image">
          <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
        </div>
      </div>
       <!-- CARD 2 TEST -->
      <div href="#" class="card">
        <div class="card-content">
          <h5>Survey title</h5>
          <a href="#">Lien survey</a>
        </div>
        <div class="card-image">
          <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}