<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main class="page-login">
        <div class="left">
            <h1>Condorcy</h1>
            <h2>Create, vote and check resulte of an infinity of condorcy based survey</h2>
        </div>
        <div class="right">
            <h3>Login</h3>

            <form action="" method="post">
                <label for="email">Email / Username</label>
                <input type="email" name="email" id="email">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <div class="checkbox">
                    <input type="checkbox" name="box" id="box">
                    <label for="box">Remember me</label>
                </div>
                <p>Forgot password ? <a href="#">click here</a></p>
                <button>continue</button>
            </form>
        </div>
    </main>
</body>
</html>